.list {
    display: flex;
    color: whitesmoke;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.birdlist{
    cursor: pointer;
    &:hover {
        background-color: whitesmoke;
        color: black;
        padding: 2px;
      }
}


