.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:rgba(80, 63, 205, 0.5);
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 10px;
}

.score{
    color: whitesmoke;
    font-size: 30px;
}

.logo{
    color:rgba(80, 63, 205, 0.5);
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}