.button{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background: #00acee;
    background: linear-gradient(
0deg,#00acee,#027efb);
    width: 60%;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}